@page "/counter"

<PageTitle>Contador</PageTitle>

<h1>Contador</h1>

<p role="status">Contador actual: @currentCount</p>

<button class="btn btn-primary btn-sm" @onclick="IncrementCount">+2</button>
<button class="btn btn-warning btn-sm" @onclick="DecrementCount">-1</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        currentCount++;
    }
    private void DecrementCount()
    {
        currentCount--;
    }
}
