@page "/tasks"

@inject IRepository repository;
@inject NavigationManager navigationManager

<PageTitle>Tareas</PageTitle>

<h3>Tareas</h3>
@if (Tasks == null)
{
    <p>Cargando...</p>
}
else
{
    <a class="btn btn-sm btn-outline-primary" href="/tasks/create">Nueva Tarea</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Completada</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Tasks)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Description</td>
                    <td>@($"{task.Date:dd/MM/yyyy}")</td>
                    <td>@task.IsCompleted</td>
                    <td>
                        <a class="btn btn-sm btn-outline-warning" href="/tasks/edit/@task.Id">Editar</a>
                     
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    public List<MyTask>? Tasks { get; set; }

    //--------------------------------------------------------------------------------------------------------
    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    //--------------------------------------------------------------------------------------------------------
    private async Task LoadAsync()
    {
        var response = await repository.GetAsync<List<MyTask>>("api/MyTasks");
        if (response.IsSuccess)
        {
            Tasks = response.Result;
        }
    }


}
